@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
}

main {
  max-width: 20.4375rem;
}

.card {
  background: hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 0.9375rem;
}

.card__image {
  display: block;
  position: relative;
  cursor: pointer;
}

.card__image > img {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
}

.card__image:after {
  content: '';
  position: absolute;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(178, 100%, 50%, 50%);
  background-image: url('/assets/images/icon-view.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.card__image:hover:after {
  opacity: 1;
}

.heading,
.name {
  color: hsl(0, 0%, 100%);
}

.heading {
  font-size: 1.375rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

p,
.timer,
.creator {
  color: hsl(215, 51%, 70%);
}

p {
  font-size: 1.125rem;
  font-weight: 300;
  /* p line height per figma is 26px, divide that by element font size to get correct line height */
  line-height: calc(26 / 18);
  margin: 0.75rem 0 1rem;
}

.stats,
.creator__info {
  font-size: 0.9375rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.stats__image {
  vertical-align: bottom;
  margin-right: 0.25rem;
}

.timer {
  font-weight: 300;
}

.balance {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  text-transform: uppercase;
}

span {
  vertical-align: top;
}

.break {
  margin-bottom: 1rem;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.creator__info {
  display: flex;
  align-items: center;
}

.avatar {
  max-width: 2.0625rem;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 1rem;
}

.name {
  cursor: pointer;
  margin-left: 0.3125rem;
}

.heading:hover,
.name:hover {
  color: hsl(178, 100%, 50%);
  transition: 0.2s ease;
}

@media only screen and (min-width: 37.5rem) {
  main {
    max-width: 21.875rem;
  }

  p {
    margin: 1rem 0 1.5rem;
  }

  .stats,
  .creator__info {
    font-size: 1rem;
  }

  .creator__info {
    margin-bottom: 0.5rem;
  }

  .stats {
    margin-bottom: 1.5rem;
  }
}
