@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
  min-height: 100vh;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  background-color: hsl(217, 19%, 24%);

  padding: 2.5rem 1.5rem 4rem;

  max-width: 21.4375rem;
  border-radius: 0.625rem;
}

.heading {
  font-size: 0.6875rem;
  letter-spacing: 0.21875rem;
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
}

.advice__text {
  color: hsl(193, 38%, 86%);
  font-size: 1.5rem;
  letter-spacing: -0.015625rem;
  text-align: center;
}

.divider--desktop {
  display: none;
}

.advice__btn {
  position: absolute;
  bottom: -2rem;
  background-color: hsl(150, 100%, 66%);
  padding: 1.25rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.advice__btn:hover,
.advice__btn:focus {
  box-shadow: 0 0 1.5rem 0.0125rem hsl(150, 100%, 66%);
  transition: 0.2s;
}

@media (min-width: 50rem) {
  .card {
    max-width: 33.75rem;
    padding: 3rem 3rem 4.5rem;
    border-radius: 0.9375rem;
  }

  .heading {
    font-size: 0.75rem;
  }
  .advice__text {
    font-size: 1.75rem;
  }

  .divider--mobile {
    display: none;
  }

  .divider--desktop {
    display: block;
    margin-top: 1rem;
  }
}
