/* ------------------ */
/* Custom properties  */
/* ------------------ */

:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  --fs-900: clamp(5rem, 9vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------ */
/* General reset      */
/* ------------------ */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100vh;
}

/* ------------------ */
/* Utility classes    */
/* ------------------ */

/* General classes    */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

/* .flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
} */

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: 1.5rem;
}

@media (min-width: 45em) {
  .grid-container {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
    text-align: left;
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: 8.1875rem;
    align-items: end;
  }
}

/* Screen reader only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Color classes      */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* Typography classes */

.ff-serif {
  font-family: var(--ff-serif); /* bellefair */
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond); /* barlow cond */
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal); /* barlow */
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
}

.numbered-title span {
  color: hsl(var(--text-white) / 0.25);
}

/* -------------------*/
/* Components         */
/* -------------------*/

/* Explore button     */

.large-button {
  font-size: 1.25rem;
  letter-spacing: 1.25px;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 1.4em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: hsl(var(--clr-white) / 0.1);
  opacity: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: transform 0.4s ease-in-out, opacity 0.5s linear;
}

.large-button:hover::after {
  opacity: 1;
  transform: scale(1.5);
}

/* Nav tabs / sliders */

.primary-navigation {
  --underline-gap: 2rem;
  list-style: none;
  z-index: 999;
  background: hsl(var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(40px)) {
  .primary-navigation {
    background-color: hsl(var(--clr-white) / 0.01);
    backdrop-filter: blur(40px);
  }
}

@media (max-width: 35em) {
  .primary-navigation {
    flex-direction: column;
    --gap: 2rem;
    --underline-gap: 0.1em;
    padding: 7.375rem 0 0 2rem;
    position: fixed;
    inset: 0 0 0 7.5rem;
    list-style: none;
  }
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation span {
  font-weight: 700;
  margin-right: 0.7em;
}

.underline-indicators > * {
  padding: var(--underline-gap, 1rem) 0;
  font-size: 1rem;
  line-height: 1;
  border: 0;
  border-right: 0.25em solid hsl(var(--clr-white) / 0);
  cursor: pointer;
}

@media (min-width: 35em) {
  .underline-indicators > * {
    /* --underline-gap: ?; */
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  }

  .underline-indicators > *:hover {
    color: hsl(var(--clr-white));
    border-color: hsl(var(--clr-white) / 0.5);
  }
}

.underline-indicators > .active,
.underline-indicators > [aria-selected='true'] {
  color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}

.tab-list,
.dot-indicators {
  --gap: 2rem;
}

.dot-indicators > * {
  background-color: hsl(var(--clr-white) / 0.3);
  padding: 0.5em;
  aspect-ratio: 1;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.dot-indicators > *:hover {
  background-color: hsl(var(--clr-white) / 0.6);
}

.dot-indicators > [aria-selected='true'] {
  background-color: hsl(var(--clr-white));
}

.number-indicators {
  --gap: 2rem;
}

.number-indicators > * {
  width: 5rem; /* check this */
  aspect-ratio: 1;
  border: 1px solid hsl(var(--clr-white) / 0.3);
  border-radius: 50%;
  cursor: pointer;
  /* padding: 1rem; */
}

.number-indicators > *:hover {
  border-color: hsl(var(--clr-white));
}

.number-indicators > [aria-selected='true'] {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}

/* --------------------- */
/* Background image      */
/* --------------------- */

body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url('./assets/background/background-home-mobile.jpg');
}

@media (min-width: 35rem) {
  .home {
    background-image: url('./assets/background/background-home-tablet.jpg');
    background-position: center center;
  }
}

@media (min-width: 45rem) {
  .home {
    background-image: url('./assets/background/background-home-desktop.jpg');
  }
}
